.heading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    background: #555;
    height: 45px;
    font-size: 32px;
}

@media only screen and (max-width: 500px) {
    .heading {
        font-size: 20px;
        height: 30px;
    }
}
